.JobCard {
    width: 60%;
    margin: 2rem auto;
    padding: 0.8rem;
    text-align: left;
    border: 2px solid #C5C6C6;
    border-radius: 0.5rem;    
    box-shadow: 2px 2px  #C5C6C6;  
    background-color: white;  
}

.JobCard button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #E17960;
    font-size: 0.8rem;
    cursor: pointer;
    outline: none;
}

.JobCard button:hover {
    background-color: #E75837;
}

.applied {
  color:black;
}

.unapplied {
  color: white;
} 